{
  "basics": {
    "name": "",
    "label": "Developer",
    "picture": "",
    "email": "",
    "address": "",
    "phone": "",
    "summary": "",
    "mainExperience": [
      {
        "title": "",
        "text": ""
      },
      {
        "title": "",
        "text": ""
      },
      {
        "title": "",
        "text": ""
      }
    ],
    "links": [
      {
        "name": "LinkedIn",
        "url": ""
      },
      {
        "name": "Website",
        "url": ""
      },
      {
        "name": "GitHub",
        "url": ""
      }
    ]
  },
  "work": [
    {
      "company": "",
      "position": "",
      "startDate": "",
      "endDate": "",
      "summary": "",
      "projects": [
        ""
      ]
    }
  ],
  "skills": {
    "front": [
      {
        "name": "JavaScript/TypeScript",
        "level": 4,
        "featured": true,
        "yearsUsed": 3,
        "lastYearUsed": 2021
      }
    ],
    "back": [
      {
        "name": "C# / .NET",
        "level": 4,
        "featured": true,
        "yearsUsed": 4,
        "lastYearUsed": 2020
      }
    ],
    "server": [
      {
        "name": "Azure / DevOps",
        "level": 4,
        "featured": true,
        "yearsUsed": 3,
        "lastYearUsed": 2021
      }
    ],
    "languages": [
      {
        "language": "Finnish",
        "level": 5
      },
      {
        "language": "Estonia",
        "level": 5
      },
      {
        "language": "English",
        "level": 4
      }
    ]
  }
}